.login-pf body {
    background: #fff;
}

.kc-logo-text {
    background-image: url(../img/logo.jpg) !important;
    background-repeat: no-repeat !important;
    height: 80px !important;
    width: 80px !important;
}